/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Portrait layout (default) */
body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: black;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 12px;
    height: 100vh;
    padding: 2%;
    margin: 2%;
    align-items: center;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 10px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 10px) env(safe-area-inset-left, 20px);
    width: 95%;
}

/* Portrait layout (default) */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: solid;
    overflow: hidden;
    /*  Disable scrollbars */
    display: block;
    /* No floating content on sides */
}

/* Portrait layout (default) */
.app {
    position: absolute;
    /* position in the center of the screen */
    height: 90%;
    /* text area height */
    width: 90%;
    /* text area width */
    text-align: center;
    padding: 2%;
    /* image height is 200px (bottom 20px are overlapped with text) */
    margin: 2%;
    /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: center;
        padding: 2%;
        /* padding-top + padding-bottom + text area = image height */
        margin: 2%;
        /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }

    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
}