@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('../fonts/AmaticSC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'AmaticSC-Regular';
    src: url('../fonts/AmaticSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GravitasOne-Regular';
    src: url('../fonts/GravitasOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Times New Roman';
    color: white;
    font-size: 14px;
    text-align: left;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 10px;
}

h1 {
    font-family: 'AmaticSC-Bold';
    font-size: 25px;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

h2 {
    font-family: 'AmaticSC-Bold';
    font-size: 20px;
    overflow: visible;
    text-align: center;
}

h3 {
    font-family: 'AmaticSC-Bold';
    font-size: 17px;
    overflow: visible;
    text-align: center;
}

h4 {
    font-family: 'AmaticSC-Bold';
    font-size: 20px;
    overflow: visible;
    text-align: center;
    text-decoration: underline;
    padding: 0px;
    margin-bottom: -5px;
    margin-top: 15px;
}